body{
    background-color:rgb(255, 255, 255);
    margin: 0cm;
    margin: auto;
}

.bgp{
    background-image: url(bgpic.jpg);
    height:700px;
    width:102%;
    background-repeat: none;
    background-size: cover;
    position: relative;
}

div.nav{
    width: 100vw;
    background: rgba(255, 253, 253, 0);
    height: 5vw;
    

}
div.tab1{
   font-family:segoe UI black ;
   color:white;
   text-align:center;
    position: absolute;
    left: 7vh;
    margin-top:4vh;
   height: 5vh;
   width: 36vh;
   border-radius: 30px;
   overflow:hidden;
  
 
   
}

div.tab2{
    background: rgba(173, 171, 238, 0);
    position: absolute;
    right: 7vh;
    margin-top:4vh;
   height: 5vh;
   width: 40vh;
   border-radius: 30px;
   text-align: right;
   font-family:Segoe UI light; 
}

.nav a {text-decoration:none;
    color:white;
    padding: 14px 17px;
    font-size:17px;
    left:60vh;

}
.nav a:hover{
    
    color:#544B70;

}

.pic
{   position:relative;
    width:240px;
    border-radius: 300px;
    margin-top:30vh;
    text-align: center;
}
 .itfont
 {   margin-top: 2vh;
     font-style: italic;
     font-family: Segoe UI;
     color:rgb(255, 255, 255)
    
 }

div.block{
    background-color: rgb(39,43,47);
    width: 102%;
    height:150vh;
    padding-top: 20vh;
}
div.box{
    width: 200px;
  height: 90px;
  border: 2px solid white;
  margin: auto;
  border-radius: 50px;
}
div.tab3{
    text-align: center;
}

.picbor
{
  position:relative;  
  width: 200px;
  height: 200px;
  border: 4px solid white;
  margin-left: 7vh;
  border-radius: 100px;
  margin-top: 80px;
}

.pos{
    width:40px;
    margin-left:11vh;
    margin-top: 10vh;
}
.picbor1
{
  position:relative;  
  width: 200px;
  height: 200px;
  border: 4px solid white;
  margin-left: 94vh;
  border-radius: 100px;
  margin-top: 80px;
}

.pos1{
    width:40px;
    
    margin-top: 10.5vh;
}
.picbor2
{
  position:relative;  
  width: 200px;
  height: 200px;
  border: 4px solid white;
  margin-left: 175vh;
  margin-right:7vh;
  border-radius: 100px;
  margin-top: 80px;
}

.pos2{
    width:40px;
    margin-left:11vh;
    margin-top: 12vh;
}




